@import '../../node_modules/tippy.js/dist/tippy.css';

#dropkiq-autosuggest-menu {
  display: none;
  width: 300px;
  position: absolute;
  background: white;
  border: 1px solid #CBCCCC;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
  z-index: 8888;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Oxygen, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;

  .dropkiq-header {
    padding: 5px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(44,46,47,0.05);
  }

  .right-arrow {
    margin-right: 5px;
    display: inline-block;
    position: relative;
    width: 13px;
    height: 8px;
    top: 1px;
  }

  .icon {
    margin-right: 5px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #718096;
    overflow-y: scroll;
    max-height: 300px;

    li {
      padding: 5px;
      position: relative;

      .hint-icon {
        z-index: 100;
        position: absolute;
        float: right;
        right: 10px;
        top: 3px;
        display: inline-block;

        img {
          width: 12px;
          height: 13px;
        }
      }

      .first-line {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 95%;
      }

      .extra {
        margin-left: 41px;
        padding: 3px;
        margin-top: 3px;
        display: none;
        font-size: 12px;

        p {
          margin: 0px;
          font-weight: lighter;
          font-size: 10px;
        }

        samp {
          font-weight: bolder;
        }
      }

      &:hover {
        cursor: pointer;
      }

      &.active {
        background: #EBF8FF;

        .extra {
          display: block;
        }
      }
    }
  }
}
